<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Ana Sayfa</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/branchs">Şubeler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cars">Arabalar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="brands">Markalar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="caseTypes">Kasa Tipleri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="classes">Araç Sınfları</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="colors">Renkler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="fuels">Yakıtlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="gears">Vitesler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="phoneNumbers">Telefon Numaraları</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="rentalDetails">Kiralama Detayları</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="users">Kullanıcılar</a>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" routerLink="">Çağrı Merkezi - 0535 213 94 24</a>
          </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button class="btn-primary" routerLink="login" *ngIf="!getRole()">Giriş Yap</button>
      <button class="btn-primary" routerLink="register" *ngIf="!getRole()">Kayıt Ol</button>
      <button class="btn-primary" routerLink="" *ngIf="getRole()">Menü</button>
      <button class="btn-primary" *ngIf="getRole()" (click)="logout()">Çıkış Yap</button>
    </div>
  </div>
</nav>
