<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Admin Add</h5></div>
      <div class="card-body">
        <form [formGroup]="adminAddForm">
          <div class="mb-3">
            <label for="userId">User Id</label>
            <div class="form-group" >
              <input
                type="number"
                id="userId"
                formControlName="userId"
                class="form-control"
                placeholder="User Id"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-fill btn-primary" (click)="add()">Add</button>
    </div>
  </div>
</div>
