<table class="table table-striped" *ngIf="dataLoaded == true">
  <thead class="table-dark">
    <tr>
      <th scope="col">Marka</th>
      <th scope="col">Renk</th>
      <th scope="col">Şube</th>
      <th scope="col">Vites</th>
      <th scope="col">Yakıt</th>
      <th scope="col">Sınıf</th>
      <th scope="col">Kasa</th>
      <th scope="col">Model</th>
      <th scope="col">Plaka</th>
      <th scope="col">Yıldız</th>
      <th scope="col">Yıl</th>
      <th scope="col">Günlük Fiyat</th>
      <th scope="col">Açıklama</th>
      <th scope="col">Kullanılabilirlik</th>
      <th scope="col">Konum</th>
      <th scope="col">Güncelle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ getBrandName(car.brandId) }}</td>
      <td>{{ getColorName(car.colorId) }}</td>
      <td>{{ getBranchName(car.branchId) }}</td>
      <td>{{ getGearName(car.gearId) }}</td>
      <td>{{ getFuelName(car.fuelId) }}</td>
      <td>{{ getClassName(car.classId) }}</td>
      <td>{{ getCaseName(car.caseId) }}</td>
      <td>{{ getModelName(car.modelId) }}</td>
      <td>{{ car.carPlate }}</td>
      <td>{{ car.carStar }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.description }}</td>
      <td>{{ car.carUsable }}</td>
      <td>{{ car.carLocation }}</td>

      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#update"
          data-bs-whatever="@mdo"
          (click)="createCarDetail(car)"
        >
          Güncelle
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#delete"
          data-bs-whatever="@mdo"
          (click)="createCarDetail(car)"
        >
          Sil
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#add"
  data-bs-whatever="@mdo"
>
  Ekle
</button>

<!-- Car Ekleme modal -->
<div
  class="modal fade"
  id="add"
  tabindex="-1"
  aria-labelledby="addLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Araba Ekleme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="carAddForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Marka:</label>
            <div class="form-group">
              <select formControlName="brandId" id="brandId">
                <option
                  *ngFor="let brand of brands; let i = index"
                  [ngValue]="brands[i].brandId"
                >
                  {{ brands[i].brandName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Renk:</label>
            <div class="form-group">
              <select formControlName="colorId" id="colorId">
                <option
                  *ngFor="let color of colors; let i = index"
                  [ngValue]="colors[i].colorId"
                >
                  {{ colors[i].colorName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şube:</label>
            <div class="form-group">
              <select formControlName="branchId" id="branchId">
                <option
                  *ngFor="let branch of branchs; let i = index"
                  [ngValue]="branchs[i].branchId"
                >
                  {{ branchs[i].branchName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Vites:</label>
            <div class="form-group">
              <select formControlName="gearId" id="gearId">
                <option
                  *ngFor="let gear of gears; let i = index"
                  [ngValue]="gears[i].gearId"
                >
                  {{ gears[i].gearName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Yakıt:</label>
            <div class="form-group">
              <select formControlName="fuelId" id="fuelId">
                <option
                  *ngFor="let fuel of fuels; let i = index"
                  [ngValue]="fuels[i].fuelId"
                >
                  {{ fuels[i].fuelName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Sınıfı:</label
            >
            <div class="form-group">
              <select formControlName="classId" id="classId">
                <option
                  *ngFor="let class of classes; let i = index"
                  [ngValue]="classes[i].classId"
                >
                  {{ classes[i].className }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Kasa Tipi:</label
            >
            <div class="form-group">
              <select formControlName="caseId" id="caseId">
                <option
                  *ngFor="let case of caseTypes; let i = index"
                  [ngValue]="caseTypes[i].caseId"
                >
                  {{ caseTypes[i].caseName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Modeli:</label
            >
            <div class="form-group">
              <select formControlName="modelId" id="modelId">
                <option
                  *ngFor="let model of models; let i = index"
                  [ngValue]="models[i].modelId"
                >
                  {{ models[i].modelName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Plaka:</label>
            <div class="form-group">
              <input
                type="text"
                id="carPlate"
                formControlName="carPlate"
                class="form-control"
                placeholder="Plaka"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Yıldız Sayısı:</label
            >
            <div class="form-group">
              <input
                type="number"
                id="carStar"
                formControlName="carStar"
                class="form-control"
                placeholder="Yıldız Sayısı"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Model Yılı:</label
            >
            <div class="form-group">
              <input
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Model Yılı"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Günlük Fiyat:</label
            >
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Günlük Fiyat"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Açıklama:</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Açıklama"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Kullanılabilirlik:</label
            >
            <div class="form-group">
              <input
                type="checkbox"
                checked
                id="carUsable"
                formControlName="carUsable"
                class="form-control"
                placeholder="Kullanılabilirlik"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Konumu:</label
            >
            <div class="form-group">
              <input
                type="text"
                id="carLocation"
                formControlName="carLocation"
                class="form-control"
                placeholder="Araç Konumu"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button type="button" class="btn btn-primary" (click)="add()">
              Kaydet
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Car Güncelleme Modal -->
<div
  class="modal fade"
  id="update"
  tabindex="-1"
  aria-labelledby="updateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateLabel">Araba Güncelleme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="carUpdateAndDeleteForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Marka:</label>
            <div class="form-group">
              <select formControlName="brandId" id="brandId">
                <option
                  *ngFor="let brand of brands; let i = index"
                  [ngValue]="brands[i].brandId"
                >
                  {{ brands[i].brandName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Renk:</label>
            <div class="form-group">
              <select formControlName="colorId" id="colorId">
                <option
                  *ngFor="let color of colors; let i = index"
                  [ngValue]="colors[i].colorId"
                >
                  {{ colors[i].colorName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şube:</label>
            <div class="form-group">
              <select formControlName="branchId" id="branchId">
                <option
                  *ngFor="let branch of branchs; let i = index"
                  [ngValue]="branchs[i].branchId"
                >
                  {{ branchs[i].branchName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Vites:</label>
            <div class="form-group">
              <select formControlName="gearId" id="gearId">
                <option
                  *ngFor="let gear of gears; let i = index"
                  [ngValue]="gears[i].gearId"
                >
                  {{ gears[i].gearName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Yakıt:</label>
            <div class="form-group">
              <select formControlName="fuelId" id="fuelId">
                <option
                  *ngFor="let fuel of fuels; let i = index"
                  [ngValue]="fuels[i].fuelId"
                >
                  {{ fuels[i].fuelName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Sınıfı:</label
            >
            <div class="form-group">
              <select formControlName="classId" id="classId">
                <option
                  *ngFor="let class of classes; let i = index"
                  [ngValue]="classes[i].classId"
                >
                  {{ classes[i].className }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Kasa Tipi:</label
            >
            <div class="form-group">
              <select formControlName="caseId" id="caseId">
                <option
                  *ngFor="let case of caseTypes; let i = index"
                  [ngValue]="caseTypes[i].caseId"
                >
                  {{ caseTypes[i].caseName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Modeli:</label
            >
            <div class="form-group">
              <select formControlName="modelId" id="modelId">
                <option
                  *ngFor="let model of models; let i = index"
                  [ngValue]="models[i].modelId"
                >
                  {{ models[i].modelName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Plaka:</label>
            <div class="form-group">
              <input
                type="text"
                id="carPlate"
                formControlName="carPlate"
                class="form-control"
                placeholder="Plaka"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Yıldız Sayısı:</label
            >
            <div class="form-group">
              <input
                type="number"
                id="carStar"
                formControlName="carStar"
                class="form-control"
                placeholder="Yıldız Sayısı"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Model Yılı:</label
            >
            <div class="form-group">
              <input
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
                placeholder="Model Yılı"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Günlük Fiyat:</label
            >
            <div class="form-group">
              <input
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
                placeholder="Günlük Fiyat"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Açıklama:</label>
            <div class="form-group">
              <input
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
                placeholder="Açıklama"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Kullanılabilirlik:</label
            >
            <div class="form-group">
              <input
                type="checkbox"
                id="carUsable"
                formControlName="carUsable"
                class="form-control"
                placeholder="Kullanılabilirlik"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Konumu:</label
            >
            <div class="form-group">
              <input
                type="text"
                id="carLocation"
                formControlName="carLocation"
                class="form-control"
                placeholder="Araç Konumu"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button type="button" class="btn btn-primary" (click)="update()">
              Güncelle
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Car Silme Modal -->
<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  aria-labelledby="deleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteLabel">Araba Silme</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="carUpdateAndDeleteForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Marka:</label>
            <div class="form-group">
              <select formControlName="brandId" id="brandId">
                <option
                  disabled
                  *ngFor="let brand of brands; let i = index"
                  [ngValue]="brands[i].brandId"
                >
                  {{ brands[i].brandName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Renk:</label>
            <div class="form-group">
              <select formControlName="colorId" id="colorId">
                <option
                  disabled
                  *ngFor="let color of colors; let i = index"
                  [ngValue]="colors[i].colorId"
                >
                  {{ colors[i].colorName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Şube:</label>
            <div class="form-group">
              <select formControlName="branchId" id="branchId">
                <option
                  disabled
                  *ngFor="let branch of branchs; let i = index"
                  [ngValue]="branchs[i].branchId"
                >
                  {{ branchs[i].branchName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Vites:</label>
            <div class="form-group">
              <select formControlName="gearId" id="gearId">
                <option
                  disabled
                  *ngFor="let gear of gears; let i = index"
                  [ngValue]="gears[i].gearId"
                >
                  {{ gears[i].gearName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Yakıt:</label>
            <div class="form-group">
              <select formControlName="fuelId" id="fuelId">
                <option
                  disabled
                  *ngFor="let fuel of fuels; let i = index"
                  [ngValue]="fuels[i].fuelId"
                >
                  {{ fuels[i].fuelName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Sınıfı:</label
            >
            <div class="form-group">
              <select formControlName="classId" id="classId">
                <option
                  disabled
                  *ngFor="let class of classes; let i = index"
                  [ngValue]="classes[i].classId"
                >
                  {{ classes[i].className }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Kasa Tipi:</label
            >
            <div class="form-group">
              <select formControlName="caseId" id="caseId">
                <option
                  disabled
                  *ngFor="let case of caseTypes; let i = index"
                  [ngValue]="caseTypes[i].caseId"
                >
                  {{ caseTypes[i].caseName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Modeli:</label
            >
            <div class="form-group">
              <select formControlName="modelId" id="modelId">
                <option
                  disabled
                  *ngFor="let model of models; let i = index"
                  [ngValue]="models[i].modelId"
                >
                  {{ models[i].modelName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Plaka:</label>
            <div class="form-group">
              <input
                [readonly]="true"
                type="text"
                id="carPlate"
                formControlName="carPlate"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Yıldız Sayısı:</label
            >
            <div class="form-group">
              <input
                [readonly]="true"
                type="number"
                id="carStar"
                formControlName="carStar"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Model Yılı:</label
            >
            <div class="form-group">
              <input
                [readonly]="true"
                type="number"
                id="modelYear"
                formControlName="modelYear"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Günlük Fiyat:</label
            >
            <div class="form-group">
              <input
                [readonly]="true"
                type="number"
                id="dailyPrice"
                formControlName="dailyPrice"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Açıklama:</label>
            <div class="form-group">
              <input
                [readonly]="true"
                type="text"
                id="description"
                formControlName="description"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Kullanılabilirlik:</label
            >
            <div class="form-group">
              <input
                [readonly]="true"
                type="text"
                id="carUsable"
                formControlName="carUsable"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Araç Konumu:</label
            >
            <div class="form-group">
              <input
                [readonly]="true"
                type="text"
                id="carLocation"
                formControlName="carLocation"
                class="form-control"
              />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Kapat
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="delete()"
            >
              Sil
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
