<div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header"><b>Araba Bilgisi</b></div>
    <div class="card-body">
      <td>
        <tr><b>Marka:</b></tr>
        <tr><b>Renk:</b></tr>
        <tr><b>Şube:</b></tr>
        <tr><b>Vites:</b></tr>
        <tr><b>Yakıt:</b></tr>
        <tr><b>Sınıf:</b></tr>
        <tr><b>Kasa:</b></tr>
        <tr><b>Plaka:</b></tr>
        <tr><b>Yıldız:</b></tr>
        <tr><b>Yıl:</b></tr>
        <tr><b>Günlük Fiyat:</b></tr>
        <tr><b>Açıklama:</b></tr>
        <tr><b>Kullanılabilirlik:</b></tr>
        <tr><b>Konum:</b></tr>
      </td>
      <td></td>
      <td class="padding">
        <tr>{{ carDetailDto.brandName }}</tr>
        <tr>{{ carDetailDto.colorName }}</tr>
        <tr>{{ carDetailDto.branchName }}</tr>
        <tr>{{ carDetailDto.gearName }}</tr>
        <tr>{{ carDetailDto.fuelName}}</tr>
        <tr>{{ carDetailDto.className }}</tr>
        <tr>{{ carDetailDto.caseName }}</tr>
        <tr>{{ carDetailDto.carPlate }}</tr>
        <tr>{{ carDetailDto.carStar }}</tr>
        <tr>{{ carDetailDto.modelYear }}</tr>
        <tr>{{ carDetailDto.dailyPrice }}</tr>
        <tr>{{ carDetailDto.description }}</tr>
        <tr>{{ carDetailDto.carUsable }}</tr>
        <tr>{{ carDetailDto.carLocation }}</tr>
      </td>
    </div>
  </div>