<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">User Id</li>
  <li class="list-group-item">{{ user.userId }}</li>
</ul>
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">First Name</li>
  <li class="list-group-item">{{ user.firstName }}</li>
</ul>
<ul class="list-group list-group-horizontal-md">
  <li class="list-group-item">Last Name</li>
  <li class="list-group-item">{{ user.lastName }}</li>
</ul>
<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item">Nationality Id</li>
  <li class="list-group-item">{{ user.nationalityId }}</li>
</ul>
<ul class="list-group list-group-horizontal-xl">
  <li class="list-group-item">Email</li>
  <li class="list-group-item">{{ user.email }}</li>
</ul>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">Photo</li>
  <li class="list-group-item">{{ user.photo }}</li>
</ul>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">Status</li>
  <li class="list-group-item">{{ user.status }}</li>
</ul>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">Birth Year</li>
  <li class="list-group-item">{{ user.birthYear }}</li>
</ul>
