<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/branchs" >Şubeler</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/brands">Markalar</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/cars">Arabalar</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/carImages">Araba Resimleri</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/caseTypes">Kasa Tipleri</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/classes">Araç Sınıfları</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/colors">Renkler</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/customers">Müşteriler</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/drivingInformations">Sürücü Bilgileri</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/fuels">Yakıtlar</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/gears">Vitesler</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/identityInformations">Kimlik Bilgileri</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/phoneNumbers">Telefon Numaraları</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/rentalDetails">Kiralama Detayları</button>
    <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/users">Kullanıcılar</button>
    </div>
   
   </div>