<div class="d-flex align-items-start">
 <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
 <!-- <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/admins" *ngIf="getRole()=='Yönetici'">Yöneticiler </button> -->
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/branchs" *ngIf="getRole()=='Yönetici'">Şubeler</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/cars" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Arabalar</button>
 
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/brands" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Markalar</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/caseTypes" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Kasa Tipleri</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/classes" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Araç Sınıfları</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/colors" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Renkler</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/fuels" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Yakıtlar</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/gears" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Vitesler</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/phoneNumbers" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Telefon Numaraları</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/rentalDetails" *ngIf="getRole()=='Yönetici' || getRole()=='Çalışan'">Kiralama Detayları</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/users" *ngIf="getRole()=='Yönetici'">Kullanıcılar</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/customers" *ngIf="getRole()=='Çalışan'">Müşteriler</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/rentalDetails" *ngIf="getRole()=='Müşteri'">Geçmiş Kiralamalar</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/" *ngIf="getRole()=='Müşteri'">Kullanıcı Bilgileri</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/" *ngIf="getRole()=='Müşteri'">Menü 3</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/" *ngIf="getRole()=='Müşteri'">Menü 4</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/" ></button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/carImages"*ngIf="getRole()=='Yönetici'">Araba Resimleri Silinecek</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/cards" *ngIf="getRole()=='Yönetici'">Kartlar Müşteriye alınacak</button> 
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/drivingInformations" *ngIf="getRole()=='Yönetici'">Sürücü Bilgileri İptal</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/identityInformations" *ngIf="getRole()=='Yönetici'">Kimlik Bilgileri İptal</button>
 <button class="nav-link" data-bs-toggle="pill" type="button" routerLink="/customers" *ngIf="getRole()=='Yönetici'">Müşteriler İptal</button>
</div>

</div>